@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@using BeautyVi.Core.Entities;
@using System.Security.Claims;

@model Product

@{
    ViewData["Title"] = Model.Name;
}

<h1>Продукт</h1>
<div class="row col-4">
    <img src="@Model.CoverPath" class="card-img-top" alt="@Model.Name">
</div>
<hr />

<div class="row">
    <div class="col-2">Назва:</div>
    <div class="col-10"><strong>@Model.Name</strong></div>
</div>
<hr />

<div class="row">
    <div class="col-2">Категорія:</div>
    <div class="col-4">
        @if (Model.Category != null)
        {
            @ViewBag.OwnerCategory
        }
        else
        {
            <span>Категорія не визначена</span>
        }
    </div>
</div>
<hr />


<div class="row">
    <div class="col-2">Склад:</div>
    <div class="col-4">@Model.Description</div>
</div>
<hr />


<div class="row">
    <div class="col-2">Ціна:</div>
    <div class="col-4">@Model.Price</div>
</div>
<hr />

<div class="row">
    <div class="col-1">
        <a href="@Url.Action("Edit", "Product", new { id = Model.Id })" class="btn btn-primary">Редагувати</a>
    </div>
</div>
<br />

<div class="row">
    <div class="col-1">
        <a href="@Url.Action("Delete", "Product", new { id = Model.Id })" class="btn btn-primary">Видалити</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-2">
        <a href="@Url.Action("Create", "Order", new { listingId = Model.Id, nameOrder = Model.Name, price = Model.Price })" class="btn btn-success"
           style="width: 200px; margin-top: 10px;">Зробити замовлення</a>
    </div>
</div>

<a asp-action="Index">Назад</a>

<style>
    .heart-button {
        background: none; /* Remove background color */
        border: none; /* Remove border */
        padding: 0; /* Remove padding */
        color: #435EBE; /* Set the heart color */
        margin-left: 250px;
    }

        .heart-button:hover {
            color: #314682;
        }
</style>

