@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@using BeautyVi.Core.Entities;
@using System.Security.Claims;

@model Product

@{
    ViewData["Title"] = Model.Name;
}

<h1>Продукт</h1>
<div class="row col-4">
    <img src="@Model.CoverPath" class="card-img-top" alt="@Model.Name">
</div>
<hr />

<div class="row">
    <div class="col-2">Назва:</div>
    <div class="col-10"><strong>@Model.Name</strong></div>
</div>
<hr />

<div class="row">
    <div class="col-2">Категорія:</div>
    <div class="col-4">
        @if (Model.Category != null)
        {
            @ViewBag.OwnerCategory
        }
        else
        {
            <span>Категорія не визначена</span>
        }
    </div>
</div>
<hr />

<!-- Відображення для типу ефекту -->
<div class="row">
    <div class="col-2">Тип ефекту:</div>
    <div class="col-4">
        @if (Model.EffectType != null)
        {
            <span>@Model.EffectType.NameEffectType</span> <!-- Виводимо значення типу ефекту -->
        }
        else
        {
            <span>Тип ефекту не визначений</span>
        }
    </div>
</div>
<hr />

<!-- Відображення для підходу для -->
<div class="row">
    <div class="col-2">Підходить для:</div>
    <div class="col-4">
        @if (Model.SuitableFor != null)
        {
            <span>@Model.SuitableFor.NameSuitableFor</span> <!-- Виводимо значення підходу для -->
        }
        else
        {
            <span>Інформація не доступна</span>
        }
    </div>
</div>
<hr />

<!-- Відображення для підходу для -->
<div class="row">
    <div class="col-2">Склад:</div>
    <div class="col-4">
        @if (Model.ProductIngredients != null && Model.ProductIngredients.Any())
        {
            <ul>
                @foreach (var ingredient in Model.ProductIngredients)
                {
                    <li>@ingredient.Ingredient.Name</li>
                }
            </ul>
        }
        else
        {
            <span>Інформація не доступна</span>
        }
    </div>
</div>
<hr />

<div class="row">
    <div class="col-2">Алергени:</div>
    <div class="col-4">
        @if (Model.ProductAllergens != null && Model.ProductAllergens.Any())
        {
            <ul>
                @foreach (var allergen in Model.ProductAllergens)
                {
                    <li>@allergen.Allergen.Name</li>
                }
            </ul>
        }
        else
        {
            <span>Інформація не доступна</span>
        }
    </div>
</div>
<hr />


<div class="row">
    <div class="col-2">Склад:</div>
    <div class="col-4">@Model.Description</div>
</div>
<hr />


<div class="row">
    <div class="col-2">Ціна:</div>
    <div class="col-4">@Model.Price</div>
</div>
<hr />

<div class="row">
    <div class="col-1">
        <a href="@Url.Action("Edit", "Product", new { id = Model.Id })" class="btn btn-primary">Редагувати</a>
    </div>
</div>
<br />

<div class="row">
    <div class="col-1">
        <a href="@Url.Action("Delete", "Product", new { id = Model.Id })" class="btn btn-primary">Видалити</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-2">
        <a href="@Url.Action("Create", "Order", new { productId = Model.Id, nameOrder = Model.Name, price = Model.Price })" class="btn btn-success"
           style="width: 200px; margin-top: 10px;">Зробити замовлення</a>
    </div>
</div>

<a asp-action="Index">Назад</a>


<style>
    .heart-button {
        background: none; /* Remove background color */
        border: none; /* Remove border */
        padding: 0; /* Remove padding */
        color: #435EBE; /* Set the heart color */
        margin-left: 250px;
    }

        .heart-button:hover {
            color: #314682;
        }
</style>

