@model IEnumerable<BeautyVi.Core.Entities.Product>

<h2>Результати фільтрації</h2>

@if (Model.Any())
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-4">
                <div class="card mb-4">
                    <img src="@product.CoverPath" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p><strong>Ціна:</strong> @product.Price грн</p>
                        <a href="@Url.Action("Details", "Product", new { id = product.Id })" class="btn btn-primary">Детальніше</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Продуктів, які відповідають вашим критеріям, не знайдено.</p>
}
