@model IEnumerable<BeautyVi.Core.Entities.Product>

<div class="container mt-5 mb-5">
    <h2 class="text-center text-uppercase" style="color: #7a6f5b; font-family: 'Playfair Display', serif;">Список продуктів</h2>
    @if (User.IsInRole("Admin"))
        {
        <div class="text-center mt-4">
            <a href="@Url.Action("Create", "Product")" class="btn"
               style="background-color: transparent; color: #7a6f5b; border: 2px solid #7a6f5b; padding: 10px 30px; font-weight: bold; border-radius: 4px; text-transform: uppercase; text-decoration: none;">
                Додати новий продукт
            </a>
        </div>
        }
        <form asp-action="FilterByPreferences" method="get" class="mt-5">
            <div class="row g-3">
                <div class="col-md-4">
                    <label for="category" class="form-label" style="font-weight: bold; color: #4a4a4a;">Категорія:</label>
                    <select id="category" name="category" class="form-control" style="border: 1px solid #e3e3e3; padding: 10px;">
                        <option value="">Виберіть категорію</option>
                        @foreach (var item in ViewBag.Categories)
                        {
                            <option value="@item.NameCategory">@item.NameCategory</option>
                        }
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="hairType" class="form-label" style="font-weight: bold; color: #4a4a4a;">Тип волосся:</label>
                    <select id="hairType" name="hairType" class="form-control" style="border: 1px solid #e3e3e3; padding: 10px;">
                        <option value="">Виберіть тип волосся</option>
                        @foreach (var item in ViewBag.HairTypes)
                        {
                            <option value="@item.NameSuitableFor">@item.NameSuitableFor</option>
                        }
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="skinType" class="form-label" style="font-weight: bold; color: #4a4a4a;">Тип шкіри:</label>
                    <select id="skinType" name="skinType" class="form-control" style="border: 1px solid #e3e3e3; padding: 10px;">
                        <option value="">Виберіть тип шкіри</option>
                        @foreach (var item in ViewBag.SkinTypes)
                        {
                            <option value="@item.NameSuitableFor">@item.NameSuitableFor</option>
                        }
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="effectType" class="form-label" style="font-weight: bold; color: #4a4a4a;">Тип ефекту:</label>
                    <select id="effectType" name="effectType" class="form-control" style="border: 1px solid #e3e3e3; padding: 10px;">
                        <option value="">Виберіть тип ефекту</option>
                        @foreach (var item in ViewBag.EffectTypes)
                        {
                            <option value="@item.NameEffectType">@item.NameEffectType</option>
                        }
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="avoidedAllergens" class="form-label" style="font-weight: bold; color: #4a4a4a;">Алергени:</label>
                    <select id="avoidedAllergens" name="avoidedAllergens" class="form-control" style="border: 1px solid #e3e3e3; padding: 10px;">
                        <option value="">Виберіть алергени</option>
                        @foreach (var item in ViewBag.AvoidedAllergens)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>

                <!--<div class="col-md-4">
                    <label for="avoidAllergens" class="form-label" style="font-weight: bold; color: #4a4a4a;">Уникати алергенів:</label>
                    <div class="form-check">
                        <input type="checkbox" id="avoidAllergens" name="avoidAllergens" class="form-check-input">
                        <label class="form-check-label" for="avoidAllergens" style="color: #4a4a4a;">Так</label>
                    </div>
                </div>-->

                <div class="col-md-12">
                    <label for="avoidedIngredients" class="form-label" style="font-weight: bold; color: #4a4a4a;">Небажані компоненти:</label>
                    <select id="avoidedIngredients" name="avoidedIngredients" class="form-control" multiple style="border: 1px solid #e3e3e3; padding: 10px;">
                        @if (ViewBag.Ingredients != null)
                        {
                            @foreach (var ingredient in ViewBag.Ingredients)
                            {
                                <option value="@ingredient.Name">@ingredient.Name</option>
                            }
                        }
                    </select>
                    <small class="form-text text-muted">Виберіть один або кілька компонентів.</small>
                </div>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn"
                        style="background-color: transparent; color: #7a6f5b; border: 2px solid #7a6f5b; padding: 10px 30px; font-weight: bold; border-radius: 4px; text-transform: uppercase;">
                    Показати продукти
                </button>
            </div>
        </form>

        <table class="table table-striped mt-5">
            <thead style="background-color: #7a6f5b; color: #fff;">
                <tr>
                    <th>Назва</th>
                    <th>Категорія</th>
                    <th>Тип Ефекту</th>
                    <th>Підходить для</th>
                    <th>Ціна</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Category?.NameCategory</td>
                        <td>@product.EffectType?.NameEffectType</td>
                        <td>@product.SuitableFor?.NameSuitableFor</td>
                        <td>@product.Price</td>
                        <td>
                            <a href="@Url.Action("Details", "Product", new { id = product.Id })" style="color: #7a6f5b; text-decoration: none;">Деталі</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("Edit", "Product", new { id = product.Id })" style="color: #7a6f5b; text-decoration: none;">| Редагувати</a>
                            }
                            @if (User.IsInRole("Admin"))
                             {
                                < a href = "@Url.Action("Delete", "Product", new { id = product.Id })" style = "color: #7a6f5b; text-decoration: none;" >| Видалити </ a >
                             }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
